{
  "extends": ["@viclafouch/eslint-config-viclafouch/typescript"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "react/jsx-no-duplicate-props": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**",
          "stories/**",
          "**/*.stories.tsx",
          "**/*.test.ts",
          "**/*.test.tsx"
        ]
      }
    ]
  }
}
