{
  "extends": [
    "@viclafouch/eslint-config-viclafouch/typescript",
    "plugin:testing-library/react"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json", "./docs/tsconfig.json"]
  },
  "rules": {
    "react-hooks/exhaustive-deps": 1,
    "react/jsx-no-duplicate-props": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "react/require-default-props": ["error", {
      "functions": "defaultArguments"
    }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**",
          "stories/**",
          "**/*.stories.tsx",
          "**/*.test.ts",
          "**/*.test.tsx"
        ]
      }
    ]
  }
}
