/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: rgb(178, 186, 194);
  flex: 1;
}

.heroBanner h1 {
  margin-top: 20px;
}

.subtitle {
  max-width: 800px;
  margin-inline: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


